body {
    color: white;
    background-color: #202020;
    display: flex;
    height: 100vh;
    transition: 0.15s ease-in-out;
}

.adm-container {
    padding: 2vh 2vw;
    flex-grow: 1;
}

.float-el {
    display: block;
    border-radius: 10px;
    width: fit-content;
    padding: 1vh;
    background-color: #303030;
}

body.nav-open {
    grid-template-columns: 20% auto;
}