body {
    color: white;
    background-color: #1f1f25;
}


button {
    background-color: #272744;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}

.nav {
    background-color: #1d1d1d;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    justify-content: space-between;
}

.nav > * {
    margin: 1.5vh;
}

.navbar-brand {
    padding: 1%;
    font-size: 120%;
}

/* Popup */

.popup-shadow {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 2vh 2vw;
    min-width: 20vw;
    background: #22222c;
}

.popup-title {
    display: flex;
    justify-content: space-between;
}

.popup-close {
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-close > * {
    display: block;
}

.popup-close a {
    color: white !important;
}

input {
    outline: none;
    border-radius: 0.35vw;
    padding: 1vh;
    margin-bottom: 2vh;
}

.inputSpan {
    display: block;
    margin: 1.5vh 0;
    font-size: 120%;
}

button[type="submit"] {
    margin-top: 4vh;
    width: 100%;
}

.inputSpan::before {
    content: "> ";
    color: var(--btn-color-light);
    text-shadow: var(--btn-color-light) 0 0 2px;
}