:root {
    --btn-color : #272744;
    --btn-color-light: #5151aa;
    --btn-color-hover : #2c2c4b;
}

.nav-button {
    background-color: var(--btn-color);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    transition: 0.15s ease-in-out;
}

.nav-button > i {
    font-size: 120%;
    margin-right: 5px;
}

.nav-button:hover {
    color: white;
    background-color: var(--btn-color-hover);
}

.nav-button {
    margin: 0 0.25vw;
    display: block;
    text-decoration: none;
}

.navbuttons {
    display: flex;
    margin: auto auto;
}

.login-reg {
    display: flex;
    justify-content: right;
    margin: auto 2vw;
}



.login-reg > a {
    text-decoration: none;
    color: white;
    margin: 1vw 0;
    padding: 0 1vw; 
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.login-reg > a:hover {
    text-shadow: white 0 0 2px;
}

.login-reg > a:nth-child(1) {
    border-right: 0.1vw solid white;
}



.user-flex {
    display: flex;
    justify-content: right;
}

.user-info {
    display: flex;
    margin: auto 2vw;
}

.user-info > span {
    display: block;
    margin: auto;
}

.user-info > * {
    margin: 0 0.5vw;
}

.user-info > a:nth-child(1) {
    display: block;
    margin: auto 0.5vw;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    overflow: hidden;
}

.user-avatar {
    display: block;
    margin: auto;
    height: 3vh;
    width: 3vh;
}